body{background-color:#F3F3F3; }
#ad{ width:100%; height:50px; background-color:#fafafa; }
#ad a{ float:right; margin:5px 60px; width:100px; height:40px; background-color:#EC1500; line-height:40px; color:#fff; text-align:center; border:none; }
#ad a:hover{ opacity:0.5; cursor:pointer; }
#sureToSubmit{ float:right; margin:5px 60px; width:100px; height:40px; background-color:#EC1500; line-height:40px; color:#fff; text-align:center; border:none;  }
#sureToSubmit:hover{ opacity:0.5; cursor:pointer; }
.content{ background-color:#F3F3F3;  padding:7px;   }
#contentNav{ width:10%; background-color:#fff; height:110px; position:fixed; left:67px; float:left; }
#contentNav p{ text-align:center; color:#666; height:36px; border-bottom:1px solid #F3F3F3; line-height:36px; position:relative; }
#contentNav p:hover{ border:1px solid #FFCC66; cursor:pointer; }
#contentNav p img{ position:absolute; left:15px; top:8px; }
#contentHeader{ width:70%; margin:0 auto 7px; background-color:#fff; height:110px }
#testNameBox{ width:100%; height:50%; border-bottom:1px solid #f3f3f3; }
#testName{ width:90%; height:45px; margin:4px 45px; border:none; color:#666; text-align:center; font-size:18px; font-family:微软雅黑; }
#testDescribleBox{ width:92.5%; height:50%; float:right; }
#testDescrible{ width:90%; height:45px; margin:3px 25px; border:none; color:#666; text-align:left; font-size:18px; font-family:微软雅黑; }
.questionRadio{ width:70%; margin:7px auto; background-color:#fff; height:230px; display:none }
.questionCheckbox{ width:70%; margin:7px auto; background-color:#fff; height:230px; display:none; }
.questionNum{ width:7%; height:100%; float:left; border-right:1px solid #f3f3f3; text-align:center; color:#999; }
.questionForm{ width:92%; height:100%; float:right; }
.questionSubject{ width:90%; height:35px; margin:3px 0px; border:none; color:#000; text-align:left; font-size:16px; font-family:微软雅黑; display:block;}
.questionForm p{ font-size:13px; color:#666; margin:10px 0; }
.questionSubject:hover{ background-color:#FDF9CD; }
.questionOption{ border:none; height:25px; font-size:14px; width:80%; }
.questionOption:hover{ background-color:#FDF9CD;}
#footer{ width:70%; height:50px; margin:0 auto; background-color:#fff;}
#footer div{width:7%; height:50px; border-right:1px solid #f3f3f3;}
.questionSubmit{ width:80px; height:28px; border:none;  background-color:#ccc; color:#fff; font-size:16px; }
.questionSubmit:hover{ background-color:#4395FF; }
.success{ width:140px; height:40px; margin:10px auto; background-color:#fff; line-height:40px; display:none; text-align:center; }