<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.xupt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.xupt.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeJavaScriptQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeJavaScriptQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>searchQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.searchQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.xupt.servlet.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.xupt.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeCssQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeCssQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeHtml5QuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeHtml5QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakejQueryQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakejQueryQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeAugularJsQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeAugularJsQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeNodeJsQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeNodeJsQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MakeBootstrapQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.MakeBootstrapQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTeacherAllQuestionServlet</servlet-name>
    <servlet-class>com.xupt.servlet.ShowTeacherAllQuestionServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeJavaScriptQuestionServlet</servlet-name>
    <url-pattern>/MakeJavaScriptQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchQuestionServlet</servlet-name>
    <url-pattern>/searchQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeCssQuestionServlet</servlet-name>
    <url-pattern>/MakeCssQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeHtml5QuestionServlet</servlet-name>
    <url-pattern>/MakeHtml5QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakejQueryQuestionServlet</servlet-name>
    <url-pattern>/MakejQueryQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeAugularJsQuestionServlet</servlet-name>
    <url-pattern>/MakeAugularJsQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeNodeJsQuestionServlet</servlet-name>
    <url-pattern>/MakeNodeJsQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeBootstrapQuestionServlet</servlet-name>
    <url-pattern>/MakeBootstrapQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTeacherAllQuestionServlet</servlet-name>
    <url-pattern>/ShowTeacherAllQuestionServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
